html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #F5F5DC;
  margin: 10px 20px 20px 20px;
  color: #F5F5DC;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button a {
  position: relative;
  transition: all .35s ease-Out;
}

.slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #F5F5DC;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.button:hover .slide {
  left: 0;
}

.slide-back {
  width: 100%;
  height: 100%;
  left: 200px;
  background: #F5F5DC;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.button:hover .slide-back {
  left: 0;
}

.button:hover a {
  color: #2D3142;
}

.input-room {
  margin-top: 10px;
  height: 30px;
  padding: 0px 5px 0px 5px;
  width: 150px;
  left: 4px;
  position:relative;
  background: transparent;
  border-color: #F5F5DC;

}

.input-room::placeholder {
  color: #fbfbe2;
}

.input-room:focus {
  outline-width: 0;
}

input, select, textarea{
  color: #F5F5DC;
}

textarea:focus, input:focus {
  color: #F5F5DC;
}

.menu-p {
  color: #F5F5DC
}