<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
		var socket = io({autoConnect: true});
    var username = ''
    var room = ''
  
		socket.on('connect', function() {
			// socket.emit('my event', {data: 'I\'m connected!'});
      console.log('I am connected')
      socket.on('disconnect', () => {
        io.sockets.emit('leave', {'username': username, 'room': room})
      })
		});
    // setTimeout('', 5000)

    socket.on('connect-response', function(message) {
      console.log(message);
      username = message
      socket.emit('join', {'username': username})

    })

    socket.on('join-response', function(message) {
      console.log('a new user has joined')
      console.log(message)
    })

    socket.on('move-played', function(message) {
      console.log(message)
    })

    socket.emit('play-move', {'i': 0, 'j': 1, 'k': 2, 'tile': 'X'})

	</script>
  </head>
  <body>
	Hello!
  </body>
</html>